*.o
*.mod
*.log
close
mercury
element
test_disk
torque_diagram
*.in
*.out
dissipation
simu_test
*.dat
unitary_tests
interesting_disks
parameter_study
*.bak
*~
*.pdf
*.tmp
*.dmp
html/
latex/
migration_map
*.dSYM
git_infos.f90
old_simulation
