*.o
*.mod
*.log
close
mercury
element
test_disk
*.in
*.out
git_infos.f90
dissipation
*.dat
unitary_tests
interesting_disks
parameter_study
interesting_disks
*.bak
*~
*.pdf
*.tmp
*.dmp
html/
latex/
migration_map
*.dSYM
git_infos.f90
old_simulation
